

.burger-additive {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.burger {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.category {
    display: flex;
    gap: 20px;
}

#choice {
    margin-bottom: 20px;
}